<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medilocator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/profiles/{{profile}}" alt="Logo" width="80" height="80"
                    class="d-inline-block align-text-top" style="border-radius:20px">

            </a>
        </div>
        <div class="container-fluid" styel="width: 10024px;">
            <a class="navbar-brand" href="#"><b>Medilocator</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="margin-right: 100px;" id="navbarSupportedContent"
                style="margin-left:300px">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="margin-left:20px">
                            <b>Menu</b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'viewappointments' %}">View Appointments</a></li>
                            <li><a class="dropdown-item" href="{% url 'viewreports' %}">View Reports</a></li>
                            <li><a class="dropdown-item" href="{% url 'index' %}">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <div class="card text-bg-dark">
        <img src="/static/earth-2254769_1280.jpg" class="card-img" alt="..." style="height:34rem">
        <div class="card-img-overlay">
            <center>
                <h5 class="card-title">Medilocator</h5>
            </center>

        </div>
    </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>