{% extends "index.html" %}
{% block content %}
<div class="card text-bg-dark">
    <img src="/static/geometric.png" class="card-img" alt="..." style="height:36rem">
    <div class="card-img-overlay">
        <center>
            <div class="card" style="width: 30rem;margin-top:100px">

                <div class="card-body">
                    <h5 class="card-title">Doctor Login Page</h5>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form class="row g-6" action="{% url 'docsignin' %}" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input class="form-control" type="email" id="formFileMultiple"
                                placeholder="Enter User Email" name="useremail" style="text-align:center" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" patten="[0-9]{8}" id="formFileDisabled"
                                placeholder="Enter Password" name="password" style="text-align:center" required>
                        </div>


                        <center>
                            <button type="submit" class="btn btn-primary" style="width: 80px;">Signin</button>
                        </center>
                    </form>
                </div>
            </div>
        </center>
    </div>
</div>



{% endblock %}