{% extends 'patienthome.html' %}
{% block content %}

<div class="container">
    <h2>Doctors List</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table table-striped">
        <th>Id</th>
        <th>Doctor Name</th>
        <th>Doctor Email</th>
        <th>Department</th>
        <th>Address</th>
        <th>Appointment</th>
        {% for i in dc %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.username}}</td>
            <td>{{i.useremail}}</td>
            <td>{{i.department}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'sendrequest' i.id  %}" class="btn btn-primary">Send Request</a></td>
        </tr>
        {% endfor %}
    </table>
</div>





{% endblock %}